h1 {
  background: black;
  border: black;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.weather-app {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
}
.search {
  float: right;
}

#current-button {
  float: right;
  background: #f54d27;
  color: white;
  border-radius: 5px;
}

#city-name {
  background: grey;
  border: white;
  color: white;
  border-radius: 5px;
  margin-right: 400px;
  padding-left: 10px;
}
a {
  margin-left: 400px;
}
ul {
  list-style-type: none;
}
li::first-letter {
  text-transform: capitalize;
}
