h1 {
  background: black;
  border: black;
  border-radius: 5px;
  padding-left: 450px;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.search {
  float: right;
}

#current-button {
  float: right;
  background: #f54d27;
  color: white;
  border-radius: 5px;
}

#city-name {
  background: grey;
  border: white;
  color: white;
  border-radius: 5px;
  margin-right: 1000px;
  padding-left: 10px;
}
a {
  margin-left: 200px;
}
