h1 {
  background: black;
  border: black;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0px;
}
#icon {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}
.weather-app {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
}
.search {
  float: right;
}

#current-button {
  float: right;
  background: #f54d27;
  color: white;
  border: #f54d27;
  border-radius: 5px;
}

#github-link {
  margin-left: 400px;
}
ul {
  list-style-type: none;
  text-align: left;
  position: relative;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
strong {
  font-size: 64px;
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
